
/*---------------     Front Page Gallery     ---------------*/


.frontpage-gallery-item {

  .cd-more {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-top: 0;
    z-index: 10;
    color: white;
  }

  .frontpage-project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    // height: auto;
    // max-height: 33%;
    width: 100%;
    max-width: 100%;
    transform: translateY(60px);
    color: black;

    text-align: left;

    h3, h4, h5, p {
      font-size: .778rem;
    }
  }

  @media screen and (min-width: 768px) {
    .frontpage-project-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      position: absolute;
      bottom: 0;

      background-color: rgba(89, 89, 89, .75);
      // height: initial;
      width: 100%;
      max-width: 100%;
      color: white;
      padding: .75rem .75rem;
      /*padding-bottom: .5rem;*/
      // opacity: 0;
      transition: all .5s;
      text-align: left;

      h3, h4, h5, p {
        font-size: 1rem;
      }
      hr.accent, .location {
        // display: none;
      }

    }

    &:hover .frontpage-project-info {
      // max-height: 100%;
      transform: translateY(0);

      hr.accent, .location {
        // display: block;
      }

    }
    img {
      transition: transform .75s;
    }
    &:hover img {
      transform: scale(1.1);
    }


  }

}
