
// People grid

.cd-people-grid {
  margin-bottom: 1.5rem;

  .cd-grid-item {
    img {
      width: 100%;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.cd-grid-content-person {

  background-color: rgba(89, 89, 89, .75);
  height: 33%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  // opacity: 0;

  width: calc(100% - 10px);
  max-width: 100%;
  padding: .5rem .25rem;
  transition: all .5s;

  hr {
    margin: .75rem 0;
  }

  h3, h4 {
  color: #fff;
   margin: 0;
  }

}
