/*---------------     Grid     ---------------*/

//Utilities

.h-300 {
  height: 300px;
}

// Grid Layout

//page-services.php

.cd-grid-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;

  text-decoration: none;
  overflow: hidden;

  //Above Medium (Desktop)
  @media screen and (min-width: 768px) {
    position: relative;
  }

  .img {
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      transition: .4s ease-in-out;
    }
  }

  &:hover img {
    transform: scale(1.1);
  }
  &:hover .cd-grid-content {
    opacity: 1;
  }

  .cd-grid-content {
    @media (min-width: 768px) and (max-width: 992px) {
      opacity: 1;
    }
  }

}

.tax-grid-item {

  @media screen and (min-width: 768px) {
    flex-flow: inherit;
    height: 300px;
    max-height: 300px;
    position: relative;
  }

  .img {
    min-height: 290px;

    // padding-right: 5px;
    // padding-bottom: 5px;
    img {
      min-height: 300px;
      width: auto;
    }
  }
}

.cd-grid-content {

  transition: opacity .75s;

  @media screen and (min-width: 768px) {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 5px;

    height: 100%;
    width: calc(100% - 10px);
    max-width: 100%;

    text-align: center;

    background-color: rgba(89, 89, 89, .75);
    color: #fff;
    opacity: 0;
    transition: opacity .75s;
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  max-width: 100%;


  color: #000;
  padding: .5rem .25rem;


}


.cd-grid-mobile-content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 .5rem;
  color: #000;
}

.cd-grid-mobile-content > p {
  margin: .5rem 0;
}

// People grid

.cd-people-grid {
  margin-bottom: 1.5rem;

  .cd-grid-item {
    &:hover {
      .cd-grid-content-person {
        opacity: 1;
      }
      img {
        transform: scale(1.05);
      }
    }
  }
}


.cd-grid-content-person {

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: calc(100% - 10px);
  max-width: 100%;
  padding: .5rem .25rem;
  transition: opacity .75s;


  hr {
    margin: .75rem 0;
  }

  h3, h4 {
   margin: 0;
   color: #000;
  }

  @media screen and (min-width: 768px) {
    background-color: rgba(89, 89, 89, .75);
    height: 33%;
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0;

    h3, h4 {
      color: #fff;
    }
  }

}


.cd-grid-item:hover .cd-grid-inner {
  /*transform: scale(1.1);*/
}



.cd-grid-inner {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  width: 100%;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
  }

}
