/*---------------     Grid     ---------------*/
.h-300 {
  height: 300px; }

.cd-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-decoration: none;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .cd-grid-item {
      position: relative; } }
  .cd-grid-item .img {
    width: auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
    .cd-grid-item .img img {
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
  .cd-grid-item:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .cd-grid-item:hover .cd-grid-content {
    opacity: 1; }

@media screen and (min-width: 768px) {
  .tax-grid-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: inherit;
            flex-flow: inherit;
    height: 300px;
    max-height: 300px;
    position: relative; } }
.tax-grid-item .img {
  min-height: 290px; }
  .tax-grid-item .img img {
    min-height: 300px;
    width: auto; }

.cd-grid-content {
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 100%;
  color: #000;
  padding: .5rem .25rem; }
  @media screen and (min-width: 768px) {
    .cd-grid-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 0;
      left: 5px;
      height: 100%;
      width: calc(100% - 10px);
      max-width: 100%;
      text-align: center;
      background-color: rgba(89, 89, 89, 0.75);
      color: #fff;
      opacity: 0;
      -webkit-transition: opacity .75s;
      transition: opacity .75s; } }

.cd-grid-mobile-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 .5rem;
  color: #000; }

.cd-grid-mobile-content > p {
  margin: .5rem 0; }

.cd-people-grid {
  margin-bottom: 1.5rem; }
  .cd-people-grid .cd-grid-item:hover .cd-grid-content-person {
    opacity: 1; }
  .cd-people-grid .cd-grid-item:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.cd-grid-content-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100% - 10px);
  max-width: 100%;
  padding: .5rem .25rem;
  -webkit-transition: opacity .75s;
  transition: opacity .75s; }
  .cd-grid-content-person hr {
    margin: .75rem 0; }
  .cd-grid-content-person h3, .cd-grid-content-person h4 {
    margin: 0;
    color: #000; }
  @media screen and (min-width: 768px) {
    .cd-grid-content-person {
      background-color: rgba(89, 89, 89, 0.75);
      height: 33%;
      position: absolute;
      bottom: 5px;
      left: 5px;
      opacity: 0; }
      .cd-grid-content-person h3, .cd-grid-content-person h4 {
        color: #fff; } }

.cd-grid-item:hover .cd-grid-inner {
  /*transform: scale(1.1);*/ }

.cd-grid-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .cd-grid-inner {
      position: absolute;
      bottom: 0; } }
