/*---------------     Grid     ---------------*/
/*---------------     Front Page Gallery     ---------------*/
.frontpage-gallery-item {
  padding: 5px;
  padding-bottom: 0 !important; }
  .frontpage-gallery-item .img-wrap {
    width: 100%;
    height: 100%;
    text-align: center; }
    .frontpage-gallery-item .img-wrap img {
      object-fit: cover;
      object-position: center;
      width: auto; }
  .frontpage-gallery-item .cd-more {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-top: 0;
    z-index: 5;
    color: white; }
  .frontpage-gallery-item .frontpage-project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(89, 89, 89, 0.75);
    position: absolute;
    bottom: 0;
    transform: translateY(60px);
    padding: .75rem .75rem;
    left: 5px;
    width: calc(100% - 10px);
    max-width: 100%;
    color: white;
    text-align: left; }
    .frontpage-gallery-item .frontpage-project-info.no-location {
      transform: translateY(0); }
      .frontpage-gallery-item .frontpage-project-info.no-location .cd-more {
        transform: translateY(60px);
        transition: all .5s; }
    .frontpage-gallery-item .frontpage-project-info h3, .frontpage-gallery-item .frontpage-project-info h4, .frontpage-gallery-item .frontpage-project-info h5, .frontpage-gallery-item .frontpage-project-info p {
      font-size: .778rem; }
  @media screen and (min-width: 768px) {
    .frontpage-gallery-item {
      height: 300px; }
      .frontpage-gallery-item .frontpage-project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
        /*padding-bottom: .5rem;*/
        transition: all .5s;
        text-align: left; }
        .frontpage-gallery-item .frontpage-project-info h3, .frontpage-gallery-item .frontpage-project-info h4, .frontpage-gallery-item .frontpage-project-info h5, .frontpage-gallery-item .frontpage-project-info p {
          font-size: 1rem; }
      .frontpage-gallery-item:hover .frontpage-project-info {
        transform: translateY(0); }
        .frontpage-gallery-item:hover .frontpage-project-info.no-location .cd-more {
          transform: translateY(0); }
      .frontpage-gallery-item img {
        transition: transform .75s; }
      .frontpage-gallery-item:hover img {
        transform: scale(1.1); } }

.cd-people-grid {
  margin-bottom: 1.5rem; }
  .cd-people-grid .cd-grid-item img {
    width: 100%; }
  .cd-people-grid .cd-grid-item:hover img {
    transform: scale(1.05); }

.cd-grid-content-person {
  background-color: rgba(89, 89, 89, 0.75);
  height: 33%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  max-width: 100%;
  padding: .5rem .25rem;
  transition: all .5s; }
  .cd-grid-content-person hr {
    margin: .75rem 0; }
  .cd-grid-content-person h3, .cd-grid-content-person h4 {
    color: #fff;
    margin: 0; }

.no-flexbox .col, .no-flexbox .col-12, .no-flexbox .col-sm-6, .no-flexbox .col-md-4, .no-flexbox .col-xl-3 {
  float: right; }
  .no-flexbox .col-12 {
    width: 100%; }
  @media (min-width: 576px) {
    .no-flexbox .col-sm-6 {
      width: 50%; } }
  @media (min-width: 768px) {
    .no-flexbox .col-md-4 {
      width: 33.333333%; } }
  @media (min-width: 1200px) {
    .no-flexbox .col-xl-3 {
      width: 25%; } }
.no-flexbox .cd-menu #menu-main-menu {
  width: auto; }

.h-300 {
  height: 300px; }

.cd-grid-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-decoration: none;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .cd-grid-item {
      position: relative; } }
  .cd-grid-item .img {
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .cd-grid-item .img img {
      transition: .4s ease-in-out; }
  .cd-grid-item:hover img {
    transform: scale(1.1); }

@media screen and (min-width: 768px) {
  .tax-grid-item {
    flex-flow: inherit;
    max-height: 300px;
    position: relative; } }
.tax-grid-item .img {
  min-height: 290px; }
  .tax-grid-item .img img {
    min-height: 300px;
    width: auto; }

.more-link {
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin: 0;
  z-index: 10;
  color: white; }

.cd-grid-content {
  transition: opacity .5s;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  color: #000;
  padding: .5rem .25rem; }
  @media screen and (min-width: 768px) {
    .cd-grid-content {
      left: 5px;
      width: calc(100% - 10px);
      max-width: 100%;
      text-align: left;
      background-color: rgba(89, 89, 89, 0.75);
      color: #fff;
      transition: opacity .75s; } }

/*-----------------------------------------------*/
/*---------------     HEADERS     ---------------*/
/*-----------------------------------------------*/
.cd-slider-nav {
  z-index: 10; }
  .cd-slider-nav nav.cd-nav {
    background-color: rgba(55, 55, 55, 0.6); }
  @media (min-width: 992px) {
    .cd-slider-nav {
      z-index: 1;
      width: 100%; }
      .cd-slider-nav nav.cd-nav {
        z-index: 10; } }

.fl-main-carousel,
.video-header {
  max-height: 900px;
  max-height: 100vh; }

.video-header {
  width: 100%; }
  .video-header video {
    width: 100%;
    max-width: 100%; }

.admin-bar .fl-main-carousel {
  max-height: 95vh; }

.fl-carousel-cell {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fl-carousel-cell img {
    width: 100%;
    height: auto; }

.flickity-viewport {
  transition: height 0.2s; }

/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
  margin-bottom: 1rem;
  /* white circles */ }
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
    /* fill-in selected dot */ }
    .flickity-page-dots .dot.is-selected {
      background: white; }

.img-slider {
  height: auto;
  max-height: 100vh;
  max-width: 100%; }

.navbar-toggler {
  width: 80px;
  height: 80px;
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  top: 0;
  right: 0; }
  .navbar-toggler:focus {
    outline: none; }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 4px;
    width: 40px;
    background: white;
    border-radius: 9px;
    opacity: 1;
    right: 15px;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .navbar-toggler span:nth-child(1) {
      top: 25px; }
    .navbar-toggler span:nth-child(2) {
      top: 35px; }
    .navbar-toggler span:nth-child(3) {
      top: 45px; }
  .navbar-toggler.open span {
    background: white; }
    .navbar-toggler.open span:nth-child(1) {
      top: 33px;
      transform: rotate(-45deg); }
    .navbar-toggler.open span:nth-child(2) {
      opacity: 0; }
    .navbar-toggler.open span:nth-child(3) {
      top: 33px;
      transform: rotate(45deg); }

.cd-nav {
  background-color: #595959;
  padding-left: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .25s;
  z-index: 15; }
  .admin-bar .cd-nav {
    top: 30px; }
  .cd-nav a {
    color: white; }
    .cd-nav a:hover {
      color: #69A53C; }
  .cd-nav > a {
    flex: 1 2; }
  .cd-nav .cd-logo {
    height: 15vw;
    max-height: 80px;
    transition: all .25s ease-in-out; }
    @media (min-width: 992px) {
      .cd-nav .cd-logo {
        height: 80px; } }

.cd-nav-toggle {
  font-size: 2rem; }

.cd-mini-nav {
  background-color: rgba(89, 89, 89, 0.6); }
  @media (min-width: 992px) {
    .cd-mini-nav .cd-logo {
      height: 60px; }
    .cd-mini-nav #cd_toggle {
      font-size: 1.5rem; } }

.cd-menu {
  padding-left: 0px;
  padding-top: .75rem;
  justify-content: flex-end;
  float: right;
  transition: all .25s;
  flex-wrap: wrap;
  /*------------ Search ------------*/ }
  .cd-menu > ul {
    flex-wrap: nowrap; }
  .cd-menu .nav-item {
    display: inline-block; }
  .no-flexbox .cd-menu {
    width: calc(100% - 318px); }
  @media (min-width: 992px) {
    .cd-menu {
      flex-wrap: nowrap; }
      .cd-mini-nav .cd-menu {
        flex-wrap: wrap; }
      .cd-menu.show {
        display: block;
        display: flex !important; } }
  .cd-menu #menu-main-menu {
    justify-content: flex-end;
    max-width: 100%;
    float: left;
    width: 100%; }
  .cd-menu .navbar-brand {
    display: flex;
    float: left; }
    .cd-menu .navbar-brand h1 {
      color: white;
      font-size: 34px;
      margin-bottom: 0; }
  .cd-menu .architecture {
    display: block;
    font-size: 26px;
    font-weight: light; }
  .cd-menu .search-button {
    background-color: transparent;
    border-width: 0px;
    color: #6BA443;
    cursor: pointer; }
    .cd-menu .search-button:focus {
      outline: none; }
  .cd-menu #main_menu > .fa.fa-search {
    touch-action: manipulation; }
  @media (min-width: 992px) {
    .cd-menu #menu-main-menu,
    .cd-menu #searchButton,
    .cd-menu #searchForm {
      transition: all .25s; }
    .cd-menu .cd-mini-nav #menu-main-menu {
      transform: translateX(0); } }
  .cd-menu .search-form {
    flex-wrap: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 320px;
    display: none; }
    .cd-mini-nav .cd-menu .search-form {
      display: none; }
    @media (min-width: 992px) {
      .cd-menu .search-form {
        display: flex; } }
  .cd-menu .search-submit {
    margin: .25rem;
    background-color: transparent;
    border-color: white;
    color: white;
    padding-top: .35rem; }
  .cd-menu .search-submit:hover {
    border-color: #6BA443;
    color: #6BA443;
    background-color: white;
    cursor: pointer; }
  @media (max-width: 991px) {
    .cd-menu .search-button {
      width: 100%; } }

#cd_toggle {
  color: white; }

/*------------ Sub Menu ------------*/
.menu-item-has-children {
  position: relative; }
  .menu-item-has-children .sub-menu {
    display: none;
    position: absolute;
    padding: 0;
    background-color: rgba(55, 55, 55, 0.6); }
    .menu-item-has-children .sub-menu li {
      font-size: .8em; }
  .menu-item-has-children:hover .sub-menu {
    display: block; }

.project-carousel {
  height: 300px; }
  .project-carousel .cd-gallery-item {
    margin-right: 10px;
    height: 100%;
    width: auto; }
    .project-carousel .cd-gallery-item img {
      max-height: 100%;
      width: auto; }
  .project-carousel .flickity-page-dots {
    margin: 0;
    bottom: -25px; }
    .project-carousel .flickity-page-dots .dot {
      border: 2px solid #777777; }
      .project-carousel .flickity-page-dots .dot.is-selected {
        background: #777777; }

.font-size-1 {
  font-size: 1rem !important; }

.design-excellence {
  -webkit-columns: 3 200px;
  columns: 3 200px;
  background: #EEEEEE;
  padding: 1em;
  border-bottom: 2px solid #6BA443; }

.design-excellence ul {
  list-style-type: none;
  padding-left: 0;
  color: #616161; }

.design-excellence li {
  font-size: 0.75em;
  line-height: 1.2em;
  margin-bottom: 0.65em; }

.design-excellence h1,
.design-excellence h2,
.design-excellence h3 {
  -webkit-column-span: all;
  column-span: all; }

.design-excellence h2 {
  font-size: 1.35em;
  font-weight: 300;
  margin-bottom: 1em; }

.design-excellence h4 {
  font-size: 0.85em;
  font-weight: bold;
  color: #868686;
  line-height: 1.3em;
  margin-bottom: 0.45em; }

/* Blog */
.cd-blog-tails p {
  color: #a6a6a6;
  letter-spacing: 1px; }

.cd-blog-tails h3 {
  font-weight: 300; }

.cd-blog-card {
  background: white; }

.cd-blog-card:hover {
  background: #f5f5f5; }

/*# sourceMappingURL=sass-style.css.map */
